<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>EventBuddy</title>
   
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <!--Multiple Select Plug In-->
        <link rel="stylesheet" href="../assets/css/choices.css">

        <link rel="stylesheet" href="../assets/css/style.css" type="text/css">
        
        <link href="https://fonts.googleapis.com/css?family=Kalam|Kaushan+Script|Montserrat|Permanent+Marker" rel="stylesheet">
    </head>
    <body class="w3-teal">
        {{{body}}}
    </body>
</html>