<!-- Content -->
<div class="w3-container">
<h3>Discover Events And Meet New People</h3>
<h6>Find events anywhere in the world:</h6>
</div>

<div class="w3-row-padding w3-padding-16 w3-text-white w3-large">
<div class="w3-half w3-margin-bottom">
    <div class="w3-display-container">
    <img src="assets/img/concert1.jpg" alt="Cinque Terre" style="width:100%">
    <span class="w3-display-bottomleft w3-padding">Cinque Terre</span>
    </div>
</div>
<div class="w3-half">
    <div class="w3-row-padding" style="margin:0 -16px">
    <div class="w3-half w3-margin-bottom">
        <div class="w3-display-container">
        <img src="assets/img/concert1.jpg" alt="New York" style="width:100%">
        <span class="w3-display-bottomleft w3-padding">New York</span>
        </div>
    </div>
    <div class="w3-half w3-margin-bottom">
        <div class="w3-display-container">
        <img src="assets/img/concert1.jpg" alt="San Francisco" style="width:100%">
        <span class="w3-display-bottomleft w3-padding">San Francisco</span>
        </div>
    </div>
    </div>
    <div class="w3-row-padding" style="margin:0 -16px">
    <div class="w3-half w3-margin-bottom">
        <div class="w3-display-container">
        <img src="assets/img/concert1.jpg" alt="Pisa" style="width:100%">
        <span class="w3-display-bottomleft w3-padding">Pisa</span>
        </div>
    </div>
    <div class="w3-half w3-margin-bottom">
        <div class="w3-display-container">
        <img src="assets/img/concert1.jpg" alt="Paris" style="width:100%">
        <span class="w3-display-bottomleft w3-padding">Paris</span>
        </div>
    </div>
    </div>
</div>
