<!-- Content -->
<div class="w3-display-container w3-content discover" style="max-width:1500px;">
    <input type="hidden" id="user-id" value="{{user.id}}">
    <img class="w3-image background-image" src="assets/img/concert3.jpg" alt="concert-scene" style="min-width:1000px" width="1500">
    <div class="w3-main" style="margin-left:250px;margin-right:40px">
        <div class="w3-padding">
            <div class="w3-container w3-text-white">
                <h1 class="w3-text-white" id="logo">Discover Events Happening Near You</h1>
            </div>
            <div class="w3-hide w3-center" id="loading">
                <img src="/assets/img/loading.gif" style="position:fixed" width="100px">
            </div>
            {{#if userLoggedIn}}
            <button class="w3-btn w3-text-white w3-border get-events w3-right">Search Events</button>
            {{else}}
            <div class="w3-container w3-text-white">
                <h2>Please log in to search events!</h2>
                <a href="/login" onclick="w3_close()" class="w3-btn w3-border w3-hover-white" id="login">Log In</a>      
            </div>
            {{/if}}
            <!-- Photo grid (modal) -->
            <div class="w3-row w3-row-padding">
                <div class="w3-table w3-card results-table w3-hoverable w3-white w3-padding">  
                </div>
            </div>

            <!-- Modal for full size images on click-->
            <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
                <span class="w3-button w3-black w3-xxlarge w3-display-topright">×</span>
                <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
                    <img id="img01" class="w3-image">
                    <h6 id="caption"></h6>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Modal Image Gallery
        function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
            var captionText = document.getElementById("caption");
            captionText.innerHTML = element.alt;
        }
    </script>

