<!-- Navigation Bar -->

<script type="text/javascript" src="http://api.eventful.com/js/api"></script>

<script src = "../assets/js/api.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">

<div class="w3-bar w3-white w3-large">
    <a href="home" class="w3-bar-item w3-button w3-teal w3-mobile">
        <i class="fa fa-street-view w3-margin-right"></i>EventBuddy</a>
    <a href="discover" class="w3-bar-item w3-button w3-mobile">Discover</a>
    <a href="#live" class="w3-bar-item w3-button w3-mobile">Live Events</a>

    <a onclick="document.getElementById('register').style.display='block'" class="w3-bar-item w3-button w3-right w3-teal w3-mobile">Sign Up</a>
    <a onclick="document.getElementById('login').style.display='block'" class="w3-bar-item w3-button w3-right w3-teal w3-mobile">Log In</a>
</div>


<!-- Content -->
<div class="w3-container">
    <h3>Discover Events And Meet New People</h3>
    <h6>Find events anywhere in the world:</h6>
</div>


<div class="w3-half">
    <div class="w3-row-padding" style="margin:0;  ">
        <div id="0" class="w3-half w3-margin-bottom">
            <div class="w3-display-container selection">
                <img id="image0" src="assets/img/concert1.jpg" alt="New York" style="width:95%;border-radius: 20px;">
                <span id="event0" class="w3-display-bottomleft w3-padding">loading...</span>
            </div>
        </div>
        <div id="1" class="w3-half w3-margin-bottom">
            <div class="w3-display-container selection">
                <img id="image1" src="assets/img/concert1.jpg" alt="San Francisco" style="width:95%;border-radius: 20px;">
                <span id="event1" class="w3-display-bottomleft w3-padding">loading...</span>
            </div>
        </div>
    </div>
    <div class="w3-row-padding" style="margin:0 ">
        <div id="2" class="w3-half w3-margin-bottom">
            <div class="w3-display-container selection">
                <img id="image2" src="assets/img/concert1.jpg" alt="Pisa" style="width:95%;border-radius: 20px;">
                <span id="event2" class="w3-display-bottomleft w3-padding">loading...</span>
            </div>
        </div>
        <div id="3" class="w3-half w3-margin-bottom">
            <div class="w3-display-container selection">
                <img id="image3" src="assets/img/concert1.jpg" alt="Paris" style="width:95%;border-radius: 20px;">
                <span id="event3" class="w3-display-bottomleft w3-padding">loading...</span>
            </div>
        </div>
    </div>
</div>
<div class="w3-half">
    <div class="w3-row-padding" style="margin:0 ">
        <div id="4" class="w3-half w3-margin-bottom">
            <div class="w3-display-container selection">
                <img id="image4" src="assets/img/concert1.jpg" alt="New York" style="width:95%;border-radius: 20px;">
                <span id="event4" class="w3-display-bottomleft w3-padding">loading...</span>
            </div>
        </div>
        <div id="5" class="w3-half w3-margin-bottom">
            <div class="w3-display-container selection">
                <img id="image5" src="assets/img/concert1.jpg" alt="San Francisco" style="width:95%;border-radius: 20px;">
                <span id="event5" class="w3-display-bottomleft w3-padding">loading...</span>
            </div>
        </div>
    </div>
    <div class="w3-row-padding" style="margin:0 ">
        <div id="6" class="w3-half w3-margin-bottom">
            <div class="w3-display-container selection">
                <img id="image6" src="assets/img/concert1.jpg" alt="Pisa" style="width:95%;border-radius: 20px;">
                <span id="event6" class="w3-display-bottomleft w3-padding">loading...</span>
            </div>
        </div>
        <div id="7" class="w3-half w3-margin-bottom">
            <div class="w3-display-container selection">
                <img id="image7" src="assets/img/concert1.jpg" alt="Paris" style="width:95%;border-radius: 20px;">
                <span id="event7" class="w3-display-bottomleft w3-padding">loading...</span>
            </div>
        </div>
    </div>
</div>

<div class="w3-half">
    <div class="w3-row-padding" style="margin:0 ">
        <div id="8" class="w3-half w3-margin-bottom">
            <div class="w3-display-container selection">
                <img id="image8" src="assets/img/concert1.jpg" alt="New York" style="width:95%;border-radius: 20px;">
                <span id="event8" class="w3-display-bottomleft w3-padding">loading...</span>
            </div>
        </div>
        <div id="9" class="w3-half w3-margin-bottom">
            <div class="w3-display-container selection">
                <img id="image9" src="assets/img/concert1.jpg" alt="San Francisco" style="width:95%;border-radius: 20px;">
                <span id="event9" class="w3-display-bottomleft w3-padding">loading...</span>
            </div>
        </div>
    </div>
    <div class="w3-row-padding" style="margin:0 ">
        <div id="10" class="w3-half w3-margin-bottom">
            <div class="w3-display-container selection">
                <img id="image10" src="assets/img/concert1.jpg" alt="Pisa" style="width:95%;border-radius: 20px;">
                <span id="event10" class="w3-display-bottomleft w3-padding">loading...</span>
            </div>
        </div>
        <div id="11" class="w3-half w3-margin-bottom">
            <div class="w3-display-container selection">
                <img id="image11" src="assets/img/concert1.jpg" alt="Paris" style="width:95%;border-radius: 20px;">
                <span id="event11" class="w3-display-bottomleft w3-padding">loading...</span>
            </div>
        </div>
    </div>
</div>
<div class="w3-half">
    <div class="w3-row-padding" style="margin:0 ">
        <div id="12" class="w3-half w3-margin-bottom">
            <div class="w3-display-container selection">
                <img id="image12" src="assets/img/concert1.jpg" alt="New York" style="width:95%;border-radius: 20px;">
                <span id="event12" class="w3-display-bottomleft w3-padding">loading...</span>
            </div>
        </div>
        <div id="13" class="w3-half w3-margin-bottom">
            <div class="w3-display-container selection">
                <img id="image13" src="assets/img/concert1.jpg" alt="San Francisco" style="width:95%;border-radius: 20px;">
                <span id="event13" class="w3-display-bottomleft w3-padding">loading...</span>
            </div>
        </div>
    </div>
    <div class="w3-row-padding" style="margin:0 ">
        <div id="14" class="w3-half w3-margin-bottom">
            <div class="w3-display-container selection">
                <img id="image14" src="assets/img/concert1.jpg" alt="Pisa" style="width:95%;border-radius: 20px;">
                <span id="event14" class="w3-display-bottomleft w3-padding">loading...</span>
            </div>
        </div>
        <div id="15" class="w3-half w3-margin-bottom">
            <div class="w3-display-container selection">
                <img id="image15" src="assets/img/concert1.jpg" alt="Paris" style="width:95%;border-radius: 20px;">
                <span id="event15" class="w3-display-bottomleft w3-padding">loading...</span>
            </div>
        </div>
    </div>
</div>

{{!-- modal --}}
<div id="myModal" class="modal" style="    border: 10px black;
    border-radius: 20px; display:none;  position: fixed;
  float: left;
  left: 50%;
  top: 40%;
  background-color:rgba(255, 255, 255, 0.735);;
  transform: translate(-50%, -50%);">

    <!-- Modal content -->
    <span class="close">&times;</span>

    <h2 style="color:black; margin-left: 25px; margin-right:25px;" id="modal-title">Some text in the Modal..</h2>
    <img id="modal-image" src="assets/img/concert1.jpg" style="width: 300px; margin-left:10px;float:left;">
    {{!-- <h3 id="modalTime" style="float:left;color:black;">Time: </h3>
    <br>
    <h3 id="modalVenue"style=" color:black;">Venue: </h3> --}}
                  <div class="tab-content">
                    <div  class="tab-pane active"  style="color: black;font-size: 24px; margin: 0 0 0 40px; line-height: 2.2;">
                        
                            City: <span id ="modalLocation"></span><br>
                            Time: <span id="modalTime"></span><br>
                            Venue: <span id = "modalVenue"></span><br>
                            URL: <a src="" id="modalVenueUrl">Check out the Venue</span>
                        
    <div style="position: absolute;bottom:5px;right:5px;">
        <button style="margin:5px:" type="button" class="btn btn-primary">Interested</button>
        <button type="button" class="btn btn-primary">Im going!</button>
    </div>

</div>



<script>


         
</script>