<div>
	<h1>
		EVENT SOCIAL STREAM!
    </h1>
    <br />
  <canvas id="canvas">
  </canvas>
  <div class="camera">
    <video id="video">Video stream not available.</video>
    <button id="startbutton">Take photo</button> 
  </div>
  <div class="output">
    <img id="photo" alt="The screen capture will appear in this box."> 
  </div>
</div>