
<!-- Header -->
{{!-- <header class="w3-display-container w3-content" style="max-width:1500px;">
  <img class="w3-image" src="assets/img/concert1.jpg" alt="concert-scene" style="min-width:1000px" width="1500" height="800">
  <div class="w3-display-middle w3-col l8 m10 homepage">
    
</header> --}}

<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo" id="logo"><b>EventBuddy</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>Discover. Check In. Connect.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>
  
  {{!-- <!-- Photo grid (modal) -->
  <div class="w3-row-padding">
    <div class="w3-half">
      <img src="/assets/img/concert1.jpg" style="width:100%" onclick="onClick(this)" alt="Concrete meets bricks">
      <img src="/assets/img/concert2.jpg" style="width:100%" onclick="onClick(this)" alt="Light, white and tight scandinavian design">
      <img src="/assets/img/concert3.jpg" style="width:100%" onclick="onClick(this)" alt="White walls with designer chairs">
    </div>
<!--Log In Modal-->


    <div class="w3-half">
      <img src="/assets/img/concert4.jpg" style="width:100%" onclick="onClick(this)" alt="Windows for the atrium">
      <img src="/assets/img/concert1.jpg" style="width:100%" onclick="onClick(this)" alt="Bedroom and office in one space">
      <img src="/assets/img/concert2.jpg" style="width:100%" onclick="onClick(this)" alt="Scandinavian design">
    </div>
  </div> --}}

  <!-- Modal for full size images on click-->
  {{!-- <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
    <span class="w3-button w3-black w3-xxlarge w3-display-topright">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption"></p>
    </div>
  </div> --}}

  <!-- Happening Now -->
  <div class="w3-container" id="happening" style="margin-top:25px">
    <div class="photobanner" style="margin-bottom:25px">
    	<img class="w3-image stream-img first" src="assets/img/avatars/avatar1.png" alt="" />
    	<img class="w3-image stream-img" src="assets/img/avatars/avatar2.png" alt="" />
    	<img class="w3-image stream-img" src="assets/img/avatars/avatar3.png" alt="" />
    	<img class="w3-image stream-img" src="assets/img/avatars/avatar4.png" alt="" />
    	<img class="w3-image stream-img" src="assets/img/avatars/avatar5.png" alt="" />
    	<img class="w3-image stream-img" src="assets/img/avatars/avatar6.png" alt="" />
    	<img class="w3-image stream-img" src="assets/img/avatars/avatar7.png" alt="" />
    	<img class="w3-image stream-img" src="assets/img/avatars/avatar8.png" alt="" />
    	<img class="w3-image stream-img" src="assets/img/avatars/avatar9.png" alt="" />
      <img class="w3-image stream-img" src="assets/img/avatars/avatar1.png" alt="" />
    	<img class="w3-image stream-img" src="assets/img/avatars/avatar2.png" alt="" />
    	<img class="w3-image stream-img" src="assets/img/avatars/avatar3.png" alt="" />
    	<img class="w3-image stream-img" src="assets/img/avatars/avatar4.png" alt="" />
    </div>
      <div id="contain">
        <table class="w3-hoverable w3-bordered w3-border" border="0" id="table_scroll">
          {{!-- <tr>
            <th>Event</th>
            <th>City</th>
            <th>Live Stream</th>
          </tr> --}}
          <tr>
            <td>Counting Crows</td>
            <td>Austin, TX</td>
            <td><button class="w3-btn">View</button></td>
          </tr>
          <tr>
            <td>Drake</td>
            <td>Los Angeles, CA</td>
            <td><button class="w3-btn">View</button></td>
          </tr>
          <tr>
            <td>Margarita Fest</td>
            <td>Portland, OR</td>
            <td><button class="w3-btn">View</button></td>
          </tr>
          <tr>
            <td>Counting Crows</td>
            <td>Austin, TX</td>
            <td><button class="w3-btn">View</button></td>
          </tr>
          <tr>
            <td>Drake</td>
            <td>Los Angeles, CA</td>
            <td><button class="w3-btn">View</button></td>
          </tr>
          <tr>
            <td>Margarita Fest</td>
            <td>Portland, OR</td>
            <td><button class="w3-btn">View</button></td>
          </tr>
        </table>
    </div>
  </div>

  <div class="w3-row-padding"></div>
  
  <!-- Contact -->
  <div class="w3-container" id="connect" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Connect.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <h6>Do you want us to style your home? Fill out the form and fill me in with the details :) We love meeting new people!</h6>
    <form action="/action_page.php" target="_blank">
      <div class="w3-section">
        <label>Name</label>
        <input class="w3-input w3-border" type="text" name="Name" required>
      </div>
      <div class="w3-section">
        <label>Email</label>
        <input class="w3-input w3-border" type="text" name="Email" required>
      </div>
      <div class="w3-section">
        <label>Message</label>
        <input class="w3-input w3-border" type="text" name="Message" required>
      </div>
      <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Send Message</button>
    </form>  
  </div>

<!-- End page content -->

<!-- W3.CSS Container -->
<div class="w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><h6 class="w3-right">Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-opacity">Team X</a></h6></div>

<script>

    // ---- Scrolling Table Of Events
    var my_time;
    
    $(document).ready(function() {
      pageScroll();
      $("#contain").mouseover(function() {
        clearTimeout(my_time);
      }).mouseout(function() {
        pageScroll();
      });
    });

    function pageScroll() {  
      var objDiv = document.getElementById("contain");
      objDiv.scrollTop = objDiv.scrollTop + 1;  
      $('p:nth-of-type(1)').html('scrollTop : '+ objDiv.scrollTop);
      $('p:nth-of-type(2)').html('scrollHeight : ' + objDiv.scrollHeight);
      if (objDiv.scrollTop == (objDiv.scrollHeight - 280)) {
        objDiv.scrollTop = 0;
      }
      my_time = setTimeout('pageScroll()', 25);
    };

    function w3_open() {
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("myOverlay").style.display = "block";
    }
 
    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("myOverlay").style.display = "none";
    }

    // Modal Image Gallery
    function onClick(element) {
      document.getElementById("img01").src = element.src;
      document.getElementById("modal01").style.display = "block";
      var captionText = document.getElementById("caption");
      captionText.innerHTML = element.alt;
    }

</script>
