<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo" id="logo"><b>EventBuddy</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>Discover. Check In. Connect.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
  </div>

  <!-- Happening Now -->
  <div class="w3-container" id="happening" style="margin-top:25px">
      <div class="photobanner" style="margin-bottom:25px">
        <img class="w3-image stream-img first" src="assets/img/avatars/avatar1.png" alt="" />
        <img class="w3-image stream-img" src="assets/img/avatars/avatar2.png" alt="" />
        <img class="w3-image stream-img" src="assets/img/avatars/avatar3.png" alt="" />
        <img class="w3-image stream-img" src="assets/img/avatars/avatar4.png" alt="" />
        <img class="w3-image stream-img" src="assets/img/avatars/avatar5.png" alt="" />
        <img class="w3-image stream-img" src="assets/img/avatars/avatar6.png" alt="" />
        <img class="w3-image stream-img" src="assets/img/avatars/avatar7.png" alt="" />
        <img class="w3-image stream-img" src="assets/img/avatars/avatar8.png" alt="" />
        <img class="w3-image stream-img" src="assets/img/avatars/avatar9.png" alt="" />
        <img class="w3-image stream-img" src="assets/img/avatars/avatar1.png" alt="" />
        <img class="w3-image stream-img" src="assets/img/avatars/avatar2.png" alt="" />
        <img class="w3-image stream-img" src="assets/img/avatars/avatar3.png" alt="" />
        <img class="w3-image stream-img" src="assets/img/avatars/avatar4.png" alt="" />
      </div>
      {{!-- <div id="contain">
          <table class="w3-hoverable w3-bordered w3-border" border="0" id="table_scroll">
          </table>
      </div> --}}
  </div>

<!-- End page content -->

<!-- W3.CSS Container -->
<div class="w3-container w3-padding-32" style="margin-top:75px;padding-right:28px"><h6 class="w3-right w3-text-red">Powered By <a href="#" title="W3.CSS" target="_blank" class="w3-hover-opacity">Team X.</a></h6></div>



