* {margin: 0; padding: 0;}

body,h1,h4,h5 {
  font-family: "Poppins", sans-serif
  color white;
}

h2, h3, #logo  {
  font-family: 'Permanent Marker', cursive;
}

body {font-size:16px;}

.background-image{
  position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
  background-size:100%;
}

.happening-now {
  height: 55%;
  max-height: 366px;
  margin-top: 0%;
}

.homepage {
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.logout, .update {
  margin: 10px;
}

.showcase {
  background-image: url(/assets/img/concert4.jpg);
}

.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}

.w3-half img:hover{opacity:1}

.w3-main {
  z-index: 4;
}

.welcome {
  font-family: 'Permanent Marker', cursive;
  color: white;
}

#profilepic-div {
  border-radius: 50%;
  max-height: 150px;
  padding: 15px;
  border: #ffffff;
  border-width: 2px;
  margin: 30px;
  border-style: groove;
}

#survey {
  color: #333
}

#login-form, #signup-form, #account-setup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
  margin: auto;
  margin-top: 50px;
  color: white;
  overflow: auto;
  /*Image only BG fallback*/
  /*background = gradient + image pattern combo*/
  /* background:  */
    /* linear-gradient(rgba(196, 102, 0, 0.6), rgba(155, 89, 182, 0.6)); */
}

/* ---------  Streaming Photobanner  --------- */
 
.photobanner {
  height: 30%;
  width: 3550px;
  margin-top: 30px;
  margin-bottom: 10px;
  display: flex;
 }

 .stream-img {
   align-self: center;
   height: 90%;
   max-height: 200px;
 }

 /*keyframe animations*/
.first {
  -webkit-animation: bannermove 30s linear infinite;
     -moz-animation: bannermove 30s linear infinite;
      -ms-animation: bannermove 30s linear infinite;
       -o-animation: bannermove 30s linear infinite;
          animation: bannermove 30s linear infinite;
 }
  
 @keyframes bannermove {
  0% {
     margin-left: 0px;
  }
  100% {
     margin-left: -2125px;
  }
  
 }
  
 @-moz-keyframes bannermove {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
  
 }
  
 @-webkit-keyframes bannermove {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
  
 }
  
 @-ms-keyframes bannermove {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
  
 }
  
 @-o-keyframes bannermove {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: -2125px;
  }
  
 }


/* ---------  Streaming Table Of Events  --------- */


#contain {
    height: 280px;
    overflow-y: scroll;
  }
  #table_scroll {
    width: 100%;
    margin-top: 280px;
    margin-bottom: 280px;
    border-collapse: collapse;
  }
  #table_scroll thead th {
    padding: 10px;
  }
  #table_scroll tbody td {
    font-size: 22px;
    padding: 10px;
  }

/* ---------  Complete Profile Form  --------- */

  body {
    font-family: montserrat, arial, verdana;
  }

  h6, .close, #settings {
    color: #666;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  #msform {
    margin: 50px auto;
    text-align: center;
    position: relative;
  }
  #msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    
    /*stacking fieldsets above each other*/
    position: relative;
  }
  /*Hide all except first fieldset*/
  #msform fieldset:not(:first-of-type) {
    display: none;
  }
  /*inputs*/
  #msform input, #msform textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
  }
  /*buttons*/
  #msform .action-button {
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
  }
  #msform .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
  }
  /*headings*/
  .fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
  }
  .fs-subtitle {
    font-weight: normal;
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  /*progressbar*/
  #progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    /*CSS counters to number the steps*/
    counter-reset: step;
  }
  #progressbar li {
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    width: 33.33%;
    float: left;
    position: relative;
  }
  #progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 20px;
    line-height: 20px;
    display: block;
    font-size: 16px;
    color: #333;
    background: white;
    border-radius: 3px;
    margin: 0 auto 5px auto;
  }
  /*progressbar connectors*/
  #progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: white;
    position: absolute;
    left: -50%;
    top: 9px;
    z-index: -1; /*put it behind the numbers*/
  }
  #progressbar li:first-child:after {
    /*connector not needed before the first step*/
    content: none; 
  }
  /*marking active/completed steps green*/
  /*The number of the step and the connector before it = green*/
  #progressbar li.active:before,  #progressbar li.active:after{
    background: #27AE60;
    color: white;
  }